# Capacitor / Node
node_modules/
# Android build artefak
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties
android/.idea/
android/app/release/
*.apk
*.aab
*.keystore
!debug.keystore
# misc
emu*.png
.DS_Store

android/keystore.properties
assets/
